body {
  margin: 0;
  padding: 0;
  width0: 100%;
  height0: 100%;
}

h1 {
  font-size: 20px;
}

.container {
  display: flex;
  align-self: center;
  flex-direction: row;
  justify-content: center;
  align-self: center;
}

/* registration page */

.register-container {
  height: 100vh;
  width: 300px;
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  gap: 10px;
}

.register-caption {
  font-size: 15px;
}

.register-input {
  font-size: 15px;
}

.register-button {
  width: 50%;
}
